---
import Layout from '~/layouts/PageLayout.astro';
import { spotifyAuthUrl } from '~/utils/auth';

const meta = {
  title: 'Pitch Heat Map',
};
---

<script></script>

<Layout {meta}>
  <section>
    <div class="text-center md:w-1/2 mx-auto min-h-screen">
      <h1 class="md:text-7xl text-2xl mb-4">Connect your Spotify</h1>
      <p class="md:text-2xl px-10 mb-10">
        We need to connect to your Spotify Premium account in order to play tracks and map their pitches.
      </p>
      <a
        id="start-link"
        href={spotifyAuthUrl}
        class="text-lg text-green-600 border-green-900 border-solid border-2 py-2 px-5 rounded transition duration-300 hover:border-transparent hover:bg-green-900"
        >Connect my Spotify</a
      >
    </div>
  </section>
</Layout>
