---
import Layout from '~/layouts/PageLayout.astro';
import { SITE } from '~/config.mjs';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <div class="container mx-auto flex flex-col items-center py-10">
    <h2 class="text-5xl mb-4 text-indigo-200">We're Sorry!</h2>
    <h1 class="text-2xl mb-10">This app is only available for Spotify users with a premium account.</h1>
    <!-- <p class="text-slate-400">However, you can watch the demo instead:</p> -->
  </div>
</Layout>
