---
import Layout from '~/layouts/PageLayout.astro';
import { SITE } from '~/config.mjs';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <h2>Not premium</h2>
</Layout>
